*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.goblin {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  border: 2px solid #000;
}

.goblin__item {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.goblin__item-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.count {
  position: absolute;
  left: 50%;
  top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px;
  font-size: 18px;
  background-color: red;
  text-align: center;
  border-radius: 6px;
  z-index: 0;
}

.gameover h1 {
  margin-bottom: 10px;
  color: #fff;
}

.gameover button {
  padding: 10px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}